<!doctype html>
{% include 'includes/header.html' %}
<title>{% block title %}Welcome{% endblock %} — goop.nu</title>
<body>
  <header>
    <nav class="navbar">
      <div>
        <ul class="brand">
          <li><a href="{{ '/'|url }}">goop.nu</a></li>
        </ul>
        <ul class="site-menu">
          {% for page in site.query('/').order_by('sort_key') %}
            <li><a {% if this.is_child_of(page._slug) %} class="active"{% endif %} href="{{ page._slug|url }}" data-color="{{ page.menu_color }}">{{ page.menu_title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <div>
      <div class="contact">
        <span><i class="mail"></i><a href="mailto:contact@goop.nu">contact@goop.nu</a></span>
        <span><i class="github"></i><a href="http://github.com/joelgoop">joelgoop</a></span>
      </div>
      <div class="copyright">
        <span><i></i>2016 Joel Goop</span>
      </div>
    </div>
  </footer>
</body>
